<div class="message mb-2">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= image_tag(message.user.profile.header_image, width: '30px', id: "avt_img") %>
    </div>
  </div>
</div>